#mainadd.main1
  .yohaku
    .annnai
      投稿の詳細を表示するにはクリックしてください
  .music-form
    -# link_toの中は、楽曲の画像もしくは再生ボタン 
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね
  .music-form
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね
  .music-form
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね
  .music-form
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね
  .music-form
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね
  .music-form
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね
  .music-form
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね
  .music-form
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね
  .music-form
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね
  .music-form
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね
  .music-form
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね
  .music-form
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね
  .music-form
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね
  .music-form
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね
  .music-form
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね
  .music-form
    = link_to image_tag("logo.jpg",class:"musicview1"),""
    %li 曲名
    %li アーティスト名
    %li 投稿者
    %li 100いいね