#mainadd.main1
  .yohaku
    .annnai
      投稿の詳細を表示するにはクリックしてください
  - @audios.each do |audio|
    .music-form
      -# link_toの中は、楽曲の画像もしくは再生ボタン 
      -if audio.image.url.present? 
        = link_to image_tag(audio.image.url,class:"musicview1"),""
      - else
        = link_to image_tag("og_image__pvk21jd9bj22.png",class:"musicview1"),""
      %li 
        = audio.title
      %li 
        = audio.artistname
      %li 
        = audio.user.nickname
      %li 100いいね
