= render partial: "header-sidebar"
.yohaku
#mainadd.main1
  .fafafa
    .show
      .show__top
        -if @audio.image.url.present?
          =image_tag(@audio.image.url,class:"musicview")
        -else
          =image_tag("logo.jpg",class:"musicview")
      .show__discription   
        .show__discription__about
          %li タイトル
          %p 
            = @audio.title
        .show__discription__about
          %li アーティスト
          %p 
            = @audio.artistname
        .show__discription__about
          %li カテゴリー
          - if @audio.category.present?
            %p 
              = @audio.category
          - else
            %p 
              なし
        -if user_signed_in?
          - if current_user.id == @audio.user.id 
            .show__discription__about
              .show__discription__about__edit
                = link_to "編集する", "/audios/#{@audio.id}/edit"
                = link_to "削除する", "/audios/#{@audio.id}/",method: :delete,onClick:"alert('削除しました');"
        .jkjk
          = audio_tag(@audio.file.mp3.url,class:"musicstart")
  .show__discription__under
    .user__image
      - if @audio.user.userimage.present?
        = link_to image_tag("#{@audio.user.userimage}",class:"userphoto"),"/users/#{@audio.user.id}"
      - else
        = link_to image_tag("member_photo_noimage.png",class:"userphoto"),"/users/#{@audio.user.id}"
      = @audio.user.nickname
      さんの一押しポイント
    - if @audio.description.present?
      %p 
        = @audio.description
    - else
      %p
        なし
    .users-list{onclick:"UserPost()"}
      =@audio.user.nickname
      さんの最近の投稿
      %i#toukouyajirushi.fas.fa-chevron-down
    #userpost.display_none
      - @useraudio.each do |useraudio|
        .music-form
          -if useraudio.image.url.present?
            = link_to image_tag(useraudio.image.url,class:"musicview1"),"/audios/#{useraudio.id}"
          -else
            = link_to image_tag("logo.jp",class:"musicview1"),""
          %li 
            = useraudio.title
          %li 
            = useraudio.artistname
    #usercomment.comment2
      .comment__list{onclick:"CommentPost()"}
        コメント一覧
        %i#commentyajirushi.fas.fa-chevron-down
    #commentpost.display_none
      .talktalk
        - @comments.each do |comment|
          .talk
            .user__image
              -if comment.user.userimage.present?
                = link_to image_tag("#{comment.user.userimage}",class:"userphoto"),"/users/#{comment.user_id}"
              -else
                = link_to image_tag("member_photo_noimage.png",class:"userphoto"),"/users/#{comment.user_id}"
            .user-chat
              %p 
                = comment.comment
      .yohaku2
      .chatsindex
        =form_with(model:@comment,local: true,url:"/audios/#{@audio.id}/comments",method: :post,id:"newcomment")do |f|
          #textform.chatsindex__textform1
            = f.text_field :comment,class:"chatsform",placeholder:"コメントを入力してください",cols:"30",rows:"1"
            = f.submit "送信",class:"submit"
    %script
      audiojs.events.ready(function() {
      var as = audiojs.createAll();
      });