= render partial: "header-sidebar"
.yohaku
#mainadd.main1
  .fafafa
    .show
      .show__top
        =image_tag("logo.jpg",class:"musicview")
      .show__discription   
        .show__discription__about
          %li タイトル
          %p 7th trigger
        .show__discription__about
          %li アーティスト
          %p UVERworld
        .show__discription__about
          %li カテゴリー
          %p ロック
        %br
        %br
        .show__discription__about
          .user__image
            = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
            〇〇さんの一押しポイント
          %p 最高の曲ですああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    .users-list{onclick:"UserPost()"}
      〇〇さんのその他の投稿
      %i#toukouyajirushi.fas.fa-chevron-down
    #userpost.display_none
      .music-form
        = link_to image_tag("logo.jpg",class:"musicview1"),""
        %li 曲名
        %li アーティスト名
      .music-form
        = link_to image_tag("logo.jpg",class:"musicview1"),""
        %li 曲名
        %li アーティスト名
      .music-form
        = link_to image_tag("logo.jpg",class:"musicview1"),""
        %li 曲名
        %li アーティスト名
      .music-form
        = link_to image_tag("logo.jpg",class:"musicview1"),""
        %li 曲名
        %li アーティスト名
  #usercomment.comment2
    .comment__list{onclick:"CommentPost()"}
      コメント一覧
      %i#commentyajirushi.fas.fa-chevron-down
  #commentpost.display_none
    .talk
      .user__image
        = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      .user-chat
        %p aaaaaaaaaaaaaaaaaaaaaaaaagfgfgfg
    .talk
      .user__image
        = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      .user-chat
        %p aaaaaaaaaaaaaaaaaaaaaaaaagfgfgfg
    .talk
      .user__image
        = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      .user-chat
        %p aaaaaaaaaaaaaaaaaaaaaaaaagfgfgfg
    .talk
      .user__image
        = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      .user-chat
        %p aaaaaaaaaaaaaaaaaaaaaaaaagfgfgfg
    .chatsindex
      =form_with do |f|
        #textform.chatsindex__textform1
          = f.text_field :text,class:"chatsform",placeholder:"コメントを入力してください",cols:"30",rows:"1"
          = f.submit "送信",class:"submit"