= render partial: "header-sidebar"
.yohaku
#mainadd.main1
  .fafafa
    .show
      .show__top
        =image_tag("logo.jpg",class:"musicview")
      .show__discription   
        -#後で横並びにする
        .show__discription__about
          %li タイトル
          %p 7th trigger
        .show__discription__about
          %li アーティスト
          %p UVERworld
        .show__discription__about
          %li カテゴリー
          %p ロック
        %br
        %br
        .show__discription__about
          .user__image
            = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
            〇〇さんの一押しポイント
          %p 最高の曲ですああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    .users-list{onclick:"UserPost()"}
      〇〇さんのその他の投稿
      %i#toukouyajirushi.fas.fa-chevron-down
    #userpost.display_none
      .music-form
        = link_to image_tag("logo.jpg",class:"musicview1"),""
        %li 曲名
        %li アーティスト名
      .music-form
        = link_to image_tag("logo.jpg",class:"musicview1"),""
        %li 曲名
        %li アーティスト名
      .music-form
        = link_to image_tag("logo.jpg",class:"musicview1"),""
        %li 曲名
        %li アーティスト名
      .music-form
        = link_to image_tag("logo.jpg",class:"musicview1"),""
        %li 曲名
        %li アーティスト名
  #usercomment.comment2
    .comment__list{onclick:"CommentPost()"}
      コメント一覧
      %i#commentyajirushi.fas.fa-chevron-down
  #commentpost.display_none
    .user__image
      = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      わーい
    .user__image
      = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      わーい
    .user__image
      = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      わーい
    .user__image
      = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      わーい
    .user__image
      = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      わーい
    .user__image
      = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      わーい
    .user__image
      = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      わーい
    .user__image
      = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      わーい
    .user__image
      = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      わーい
    .user__image
      = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      わーい