= render partial: "header-sidebar"
.yohaku
#mainadd.main1
  .fafafa
    .show
      .show__top
        -if @audio.image.url.present?
          =image_tag(@audio.image.url,class:"musicview")
        -else
          =image_tag("logo.jpg",class:"musicview")
        .jkjk
          = audio_tag(@audio.file.mp3.url,class:"musicstart")
      .show__discription   
        .show__discription__about
          %li タイトル
          %p 
            = @audio.title
        .show__discription__about
          %li アーティスト
          %p 
            = @audio.artistname
        .show__discription__about
          %li カテゴリー
          - if @audio.category.present?
            %p 
              = @audio.category
          - else
            %p 
              なし
        %br
        %br
        .show__discription__about
          .user__image
            -# - if @audio.user.image.present?
            -#   = link_to image_tag(@audio.user.image,class:"userphoto"),""
            -# - else
            = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
            = @audio.user.nickname
            さんの一押しポイント
          - if @audio.description.present?
            %p 
              = @audio.description
          - else
            %p
              なし
    .users-list{onclick:"UserPost()"}
      〇〇さんの最近の投稿
      %i#toukouyajirushi.fas.fa-chevron-down
    #userpost.display_none
      .music-form
        = link_to image_tag("logo.jpg",class:"musicview1"),""
        %li 曲名
        %li アーティスト名
      .music-form
        = link_to image_tag("logo.jpg",class:"musicview1"),""
        %li 曲名
        %li アーティスト名
      .music-form
        = link_to image_tag("logo.jpg",class:"musicview1"),""
        %li 曲名
        %li アーティスト名
      .music-form
        = link_to image_tag("logo.jpg",class:"musicview1"),""
        %li 曲名
        %li アーティスト名
  #usercomment.comment2
    .comment__list{onclick:"CommentPost()"}
      コメント一覧
      %i#commentyajirushi.fas.fa-chevron-down
  #commentpost.display_none
    .talk
      .user__image
        = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      .user-chat
        %p aaaaaaaaaaaaaaaaaaaaaaaaagfgfgfg
    .talk
      .user__image
        = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      .user-chat
        %p aaaaaaaaaaaaaaaaaaaaaaaaagfgfgfg
    .talk
      .user__image
        = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      .user-chat
        %p aaaaaaaaaaaaaaaaaaaaaaaaagfgfgfg
    .talk
      .user__image
        = link_to image_tag("member_photo_noimage.png",class:"userphoto"),""
      .user-chat
        %p aaaaaaaaaaaaaaaaaaaaaaaaagfgfgfg
    .chatsindex
      =form_with do |f|
        #textform.chatsindex__textform1
          = f.text_field :text,class:"chatsform",placeholder:"コメントを入力してください",cols:"30",rows:"1"
          = f.submit "送信",class:"submit"